In [1]:
import pandas as pd
import pvlib
from datetime import datetime, timedelta, timezone
import pytz

from solarcalc.calculations import get_combined_data, get_combined_data_with_export_import, calculate_solar_totals, make_financial_projection
from solarcalc.database import get_lat_lon_from_eircode

In [2]:
get_lat_lon_from_eircode('E91 XW32')

(52.2924071, -7.723118599999999)

In [4]:
start = datetime(2024, 7, 11, tzinfo=timezone.utc)
end = datetime(2024, 7, 11, 23, 30, 0, tzinfo=timezone.utc)

df_comb = get_combined_data("8vwbkwzg", start, end)
df_comb

                    datetime  power_solar  power_esb
0  2024-07-11 00:00:00+00:00     0.000000      382.0
1  2024-07-11 00:30:00+00:00     0.000000      466.0
2  2024-07-11 01:00:00+00:00     0.000000     1446.0
3  2024-07-11 01:30:00+00:00     0.000000      298.0
4  2024-07-11 02:00:00+00:00     0.000000      312.0
5  2024-07-11 02:30:00+00:00     0.000000     1310.0
6  2024-07-11 03:00:00+00:00     0.000000      522.0
7  2024-07-11 03:30:00+00:00     0.000000     1146.0
8  2024-07-11 04:00:00+00:00     0.000000      304.0
9  2024-07-11 04:30:00+00:00    60.904229      228.0
10 2024-07-11 05:00:00+00:00   121.808458      832.0
11 2024-07-11 05:30:00+00:00   202.844222      936.0
12 2024-07-11 06:00:00+00:00   283.879986      232.0
13 2024-07-11 06:30:00+00:00   348.415066      358.0
14 2024-07-11 07:00:00+00:00   412.950145      234.0
15 2024-07-11 07:30:00+00:00   646.055534      232.0
16 2024-07-11 08:00:00+00:00   879.160923      232.0
17 2024-07-11 08:30:00+00:00   856.754609      436.0
18 2024-07-11 09:00:00+00:00   834.348296      264.0
19 2024-07-11 09:30:00+00:00   913.245484      390.0
20 2024-07-11 10:00:00+00:00   992.142673      536.0
21 2024-07-11 10:30:00+00:00   769.141437      296.0
22 2024-07-11 11:00:00+00:00   546.140201     2142.0
23 2024-07-11 11:30:00+00:00   703.573307      554.0
24 2024-07-11 12:00:00+00:00   861.006414      390.0
25 2024-07-11 12:30:00+00:00   693.959189      898.0
26 2024-07-11 13:00:00+00:00   526.911965     1336.0
27 2024-07-11 13:30:00+00:00   432.567871     1776.0
28 2024-07-11 14:00:00+00:00   338.223776      690.0
29 2024-07-11 14:30:00+00:00   457.317169     1290.0
30 2024-07-11 15:00:00+00:00   576.410562      446.0
31 2024-07-11 15:30:00+00:00   508.674263      470.0
32 2024-07-11 16:00:00+00:00   440.937964     2394.0
33 2024-07-11 16:30:00+00:00   363.045004      326.0
34 2024-07-11 17:00:00+00:00   285.152044      228.0
35 2024-07-11 17:30:00+00:00   391.932954      178.0
36 2024-07-11 18:00:00+00:00   498.713865      212.0
37 2024-07-11 18:30:00+00:00   354.136412      204.0
38 2024-07-11 19:00:00+00:00   209.558960      202.0
39 2024-07-11 19:30:00+00:00   104.779480      202.0
40 2024-07-11 20:00:00+00:00     0.000000     1398.0
41 2024-07-11 20:30:00+00:00     0.000000      284.0
42 2024-07-11 21:00:00+00:00     0.000000      190.0
43 2024-07-11 21:30:00+00:00     0.000000      194.0
44 2024-07-11 22:00:00+00:00     0.000000      208.0
45 2024-07-11 22:30:00+00:00     0.000000     1702.0
46 2024-07-11 23:00:00+00:00     0.000000     1502.0
47 2024-07-11 23:30:00+00:00     0.000000      750.0

In [ ]:


start = datetime(2024, 1, 1, tzinfo=timezone.utc)
end = datetime(2024, 12, 31, 23, 30, 0, tzinfo=timezone.utc)


total_kwh_solar_used, total_kwh_export = calculate_solar_totals(df_comb)

# meeded variables
install_cost = 9000.0 # euros net of grants
import_tariff = 0.25 # euros per kwh
export_tariff = 0.15 # euros per kwh
market_interest_rate = 0.05 # 5% interest rate

projection_df = make_financial_projection(
    total_kwh_solar_used,
    total_kwh_export,
    install_cost,
    import_tariff,
    export_tariff,
    market_interest_rate
)

# Display the DataFrame
print(projection_df)

      Cum. Solar Savings  Cum. Export Revenue  Alt. Investment Value  \
Year
1             564.187906           398.018047            9004.500000
2            1128.375813           796.036094            9009.002250
3            1692.563719          1194.054141            9013.506751
4            2256.751625          1592.072188            9018.013505
5            2820.939532          1990.090235            9022.522511
6            3385.127438          2388.108282            9027.033773
7            3949.315344          2786.126329            9031.547289
8            4513.503251          3184.144376            9036.063063
9            5077.691157          3582.162423            9040.581095
10           5641.879063          3980.180470            9045.101385
11           6206.066970          4378.198517            9049.623936
12           6770.254876          4776.216564            9054.148748
13           7334.442782          5174.234611            9058.675822
14           7898.630689          5572.252658            9063.205160
15           8462.818595          5970.270705            9067.736763
16           9027.006501          6368.288752            9072.270631
17           9591.194408          6766.306799            9076.806766
18          10155.382314          7164.324846            9081.345170
19          10719.570221          7562.342893            9085.885842
20          11283.758127          7960.360940            9090.428785
21          11847.946033          8358.378987            9094.974000
22          12412.133940          8756.397035            9099.521487
23          12976.321846          9154.415082            9104.071247
24          13540.509752          9552.433129            9108.623283
25          14104.697659          9950.451176            9113.177595

      Cap Value  Net Position
Year
1        8640.0    597.705953
2        8280.0   1195.409657
3        7920.0   1793.111109
4        7560.0   2390.810309
5        7200.0   2988.507256
6        6840.0   3586.201948
7        6480.0   4183.894384
8        6120.0   4781.584564
9        5760.0   5379.272486
10       5400.0   5976.958149
11       5040.0   6574.641551
12       4680.0   7172.322693
13       4320.0   7770.001572
14       3960.0   8367.678187
15       3600.0   8965.352538
16       3240.0   9563.024623
17       2880.0  10160.694441
18       2520.0  10758.361991
19       2160.0  11356.027272
20       1800.0  11953.690282
21       1440.0  12551.351021
22       1080.0  13149.009487
23        720.0  13746.665680
24        360.0  14344.319598
25          0.0  14941.971240

In [6]:
def calc_power_output(latitude, longitude, rated_power_per_panel, number_of_panels, panel_tilt, panel_azimuth, start, end):    
    location = pvlib.location.Location(latitude, longitude)
    #clearsky_irradiance =  location.get_clearsky(times)

    # Typical meteorogical year using the pvgis api
    data, _, _, _ = pvlib.iotools.get_pvgis_tmy(latitude=latitude, longitude=longitude, coerce_year=2024)
    data = data[(data.index >= start) & (data.index <= end)]
    solar_position = location.get_solarposition(data.index)

    #solar_position = location.get_solarposition(date_time)
    # Optimisic estimate of solar irradiation because it assumes clear skies
    # clear_sky = location.get_clearsky(date_time, model="ineichen")

    # Calculates the irradiance watts per m squared of the panel surface
    # Pvlib assumes a gorund albedo of around .2 which is correspondant with grass and soil, may differ for highly reflective surfaces like snow
    irradiance = pvlib.irradiance.get_total_irradiance(
        surface_tilt=panel_tilt,
        surface_azimuth=panel_azimuth,
        solar_zenith=solar_position['zenith'],
        solar_azimuth=solar_position['azimuth'],
        ghi=data['ghi'],
        dni=data['dni'],
        dhi=data['dhi'])
    
    #default values entered for wind_speed, u0, and u1
    module_temperature = pvlib.temperature.faiman(poa_global=irradiance["poa_global"], temp_air=data["temp_air"], wind_speed=1, u0=25.0, u1=6.84)

    dc_power = pvlib.pvsystem.pvwatts_dc(
    g_poa_effective=irradiance['poa_global'],
    # simplified assumptions that module and cell temperature are the same
    temp_cell=module_temperature,
    pdc0=rated_power_per_panel,
    gamma_pdc=-0.004,
    temp_ref=25.0,
    )
    #dc_power.index = dc_power.index.replace(year=2024)
    dc_power.index = dc_power.index.map(lambda x: x.replace(year=2024))

    # Plot x-axis: time, y-axis: dc_power on a line chart thingy
    #matplotlib.pyplot.plot
    

    return dc_power * number_of_panels

calc_power_output(48.47, -4.28, 445, 1, 40, 180, datetime(2024, 2, 28, 0, 0, 0, tzinfo=timezone.utc), datetime(2024, 2, 28, 23, 30, 0, tzinfo=timezone.utc))

time(UTC)
2024-02-28 00:00:00+00:00      0.000000
2024-02-28 01:00:00+00:00      0.000000
2024-02-28 02:00:00+00:00      0.000000
2024-02-28 03:00:00+00:00      0.000000
2024-02-28 04:00:00+00:00      0.000000
2024-02-28 05:00:00+00:00      0.000000
2024-02-28 06:00:00+00:00      0.000000
2024-02-28 07:00:00+00:00      0.000000
2024-02-28 08:00:00+00:00    100.488391
2024-02-28 09:00:00+00:00    167.502357
2024-02-28 10:00:00+00:00    287.673262
2024-02-28 11:00:00+00:00    328.629316
2024-02-28 12:00:00+00:00      0.000000
2024-02-28 13:00:00+00:00    381.367623
2024-02-28 14:00:00+00:00    344.918860
2024-02-28 15:00:00+00:00    284.434484
2024-02-28 16:00:00+00:00    157.240423
2024-02-28 17:00:00+00:00     33.500464
2024-02-28 18:00:00+00:00      0.000000
2024-02-28 19:00:00+00:00      0.000000
2024-02-28 20:00:00+00:00      0.000000
2024-02-28 21:00:00+00:00      0.000000
2024-02-28 22:00:00+00:00      0.000000
2024-02-28 23:00:00+00:00      0.000000
dtype: float64

In [246]:
#times_from_now = rounds_and_calculates_a_year_of_dates()

import numpy as np

clearsky_irradiance = calc_power_output(55.6846, 12.5389, 445, 1, 40, 180)



clearsky_irradiance = clearsky_irradiance.reset_index().rename(columns={"time(UTC)": "x", 0: "y"})

clearsky_irradiance = clearsky_irradiance[(clearsky_irradiance["x"] >= "2024-07-23T00:00:00.000") & (clearsky_irradiance["x"] < "2024-07-24T00:00:00.000")]

times = pd.date_range(start="2024-07-23 00:30:00.000", end="2024-07-24 00:00:00.000", freq="1h", tz="UTC")

new_rows = pd.DataFrame({"x": times, "y": np.nan})
    
clearsky_irradiance = pd.concat([clearsky_irradiance, new_rows], ignore_index=True)

clearsky_irradiance = clearsky_irradiance.sort_values(by="x").reset_index(drop=True)

if np.isnan(clearsky_irradiance.loc[0, "y"]):
    clearsky_irradiance.loc[0, "y"] = 0

if np.isnan(clearsky_irradiance.loc[len(clearsky_irradiance) - 1, "y"]):
    clearsky_irradiance.loc[len(clearsky_irradiance) - 1, "y"] = 0

def get_avg_value(values):
    values = np.array(values)
    for i in range(1, len(values)):
        if np.isnan(values[i]):
            values[i] = (values[i-1] + values[i+1]) / 2
    return values


#print(clearsky_irradiance.iloc["x"])

#clearsky_irradiance = clearsky_irradiance.to_json(orient="records", date_format="iso")

clearsky_irradiance["y"] = get_avg_value(clearsky_irradiance["y"].to_list())

clearsky_irradiance

                           x           y
0  2024-07-23 00:00:00+00:00    0.000000
1  2024-07-23 00:30:00+00:00    0.000000
2  2024-07-23 01:00:00+00:00    0.000000
3  2024-07-23 01:30:00+00:00    0.000000
4  2024-07-23 02:00:00+00:00    0.000000
5  2024-07-23 02:30:00+00:00    0.000000
6  2024-07-23 03:00:00+00:00    0.000000
7  2024-07-23 03:30:00+00:00    1.673854
8  2024-07-23 04:00:00+00:00    3.347708
9  2024-07-23 04:30:00+00:00   10.407225
10 2024-07-23 05:00:00+00:00   17.466743
11 2024-07-23 05:30:00+00:00   17.236124
12 2024-07-23 06:00:00+00:00   17.005506
13 2024-07-23 06:30:00+00:00   43.568894
14 2024-07-23 07:00:00+00:00   70.132282
15 2024-07-23 07:30:00+00:00  133.951533
16 2024-07-23 08:00:00+00:00  197.770783
17 2024-07-23 08:30:00+00:00  193.255745
18 2024-07-23 09:00:00+00:00  188.740706
19 2024-07-23 09:30:00+00:00  232.644775
20 2024-07-23 10:00:00+00:00  276.548844
21 2024-07-23 10:30:00+00:00  254.076645
22 2024-07-23 11:00:00+00:00  231.604447
23 2024-07-23 11:30:00+00:00  225.988407
24 2024-07-23 12:00:00+00:00  220.372366
25 2024-07-23 12:30:00+00:00  201.265957
26 2024-07-23 13:00:00+00:00  182.159548
27 2024-07-23 13:30:00+00:00  203.917144
28 2024-07-23 14:00:00+00:00  225.674739
29 2024-07-23 14:30:00+00:00  216.702386
30 2024-07-23 15:00:00+00:00  207.730033
31 2024-07-23 15:30:00+00:00  164.287949
32 2024-07-23 16:00:00+00:00  120.845866
33 2024-07-23 16:30:00+00:00   90.591602
34 2024-07-23 17:00:00+00:00   60.337338
35 2024-07-23 17:30:00+00:00   41.125577
36 2024-07-23 18:00:00+00:00   21.913817
37 2024-07-23 18:30:00+00:00   12.205222
38 2024-07-23 19:00:00+00:00    2.496627
39 2024-07-23 19:30:00+00:00    1.248314
40 2024-07-23 20:00:00+00:00    0.000000
41 2024-07-23 20:30:00+00:00    0.000000
42 2024-07-23 21:00:00+00:00    0.000000
43 2024-07-23 21:30:00+00:00    0.000000
44 2024-07-23 22:00:00+00:00    0.000000
45 2024-07-23 22:30:00+00:00    0.000000
46 2024-07-23 23:00:00+00:00    0.000000
47 2024-07-23 23:30:00+00:00    0.000000

In [209]:
import pandas

hash_id = "krwm2n2y"
esb_intake = pandas.read_csv(f"/Users/michealmcmagh/Desktop/ise-entrance-submission-project/solarcalc/uploads/{hash_id}.csv")
esb_intake = pandas.concat([esb_intake["Read Date and End Time"], esb_intake["Read Value"]], join="inner", axis=1)
esb_intake = esb_intake.rename(columns={"Read Date and End Time": "x", "Read Value": "y"})
esb_intake["y"] = esb_intake["y"] * 1000
esb_intake["x"] = pandas.to_datetime(esb_intake["x"], dayfirst=True)
esb_intake = esb_intake.sort_values(by=['x'])
esb_intake = esb_intake[(esb_intake["x"] >= "2024-07-23T00:00:00.000") & (esb_intake["x"] < "2024-07-24T00:00:00.000")]


json_esb_intake = esb_intake.to_json(orient='records', date_format='iso')
json_esb_intake

'[{"x":"2024-07-23T00:00:00.000","y":494.0},{"x":"2024-07-23T00:30:00.000","y":440.0},{"x":"2024-07-23T01:00:00.000","y":598.0},{"x":"2024-07-23T01:30:00.000","y":360.0},{"x":"2024-07-23T02:00:00.000","y":298.0},{"x":"2024-07-23T02:30:00.000","y":290.0},{"x":"2024-07-23T03:00:00.000","y":1316.0},{"x":"2024-07-23T03:30:00.000","y":568.0},{"x":"2024-07-23T04:00:00.000","y":280.0},{"x":"2024-07-23T04:30:00.000","y":276.0},{"x":"2024-07-23T05:00:00.000","y":268.0},{"x":"2024-07-23T05:30:00.000","y":264.0},{"x":"2024-07-23T06:00:00.000","y":276.0},{"x":"2024-07-23T06:30:00.000","y":392.0},{"x":"2024-07-23T07:00:00.000","y":386.0},{"x":"2024-07-23T07:30:00.000","y":362.0},{"x":"2024-07-23T08:00:00.000","y":380.0},{"x":"2024-07-23T08:30:00.000","y":1014.0},{"x":"2024-07-23T09:00:00.000","y":280.0},{"x":"2024-07-23T09:30:00.000","y":264.0},{"x":"2024-07-23T10:00:00.000","y":1284.0},{"x":"2024-07-23T10:30:00.000","y":1086.0},{"x":"2024-07-23T11:00:00.000","y":852.0},{"x":"2024-07-23T11:30:00.000","y":392.0},{"x":"2024-07-23T12:00:00.000","y":812.0},{"x":"2024-07-23T12:30:00.000","y":520.0},{"x":"2024-07-23T13:00:00.000","y":772.0},{"x":"2024-07-23T13:30:00.000","y":2142.0},{"x":"2024-07-23T14:00:00.000","y":1220.0},{"x":"2024-07-23T14:30:00.000","y":716.0},{"x":"2024-07-23T15:00:00.000","y":872.0},{"x":"2024-07-23T15:30:00.000","y":816.0},{"x":"2024-07-23T16:00:00.000","y":770.0},{"x":"2024-07-23T16:30:00.000","y":1618.0},{"x":"2024-07-23T17:00:00.000","y":2736.0},{"x":"2024-07-23T17:30:00.000","y":2744.0},{"x":"2024-07-23T18:00:00.000","y":962.0},{"x":"2024-07-23T18:30:00.000","y":478.0},{"x":"2024-07-23T19:00:00.000","y":300.0},{"x":"2024-07-23T19:30:00.000","y":276.0},{"x":"2024-07-23T20:00:00.000","y":546.0},{"x":"2024-07-23T20:30:00.000","y":1168.0},{"x":"2024-07-23T21:00:00.000","y":1888.0},{"x":"2024-07-23T21:30:00.000","y":446.0},{"x":"2024-07-23T22:00:00.000","y":312.0},{"x":"2024-07-23T22:30:00.000","y":894.0},{"x":"2024-07-23T23:00:00.000","y":820.0},{"x":"2024-07-23T23:30:00.000","y":1344.0}]'